.vf-section-margin {
	margin-top: 20px;
}

#vf-section-menu {
	// height: 50px;
	//background-color: #df691a;
	background-color: #485563;
	position: fixed;
	left: 0;
	right: 0;
	// right: 250px;
	top: 40px;
	z-index: 1000;
}

a.vf-section-link {
	//height: 20px;
	color: white;
	text-decoration: none;
}

#vf-discussion-container {
	padding-top: 20px;
}

.vf-section-menu-list {
	margin-bottom: 0;
}

.vf-section-menu-list li {
	//background-color:red;
	display: inline;
	list-style-type: none;
	padding-left: 20px;
}

#vf-empathy-map-status {
	margin-bottom: 20px;
}

.vf-btn-group-status {
	border: 1px solid black;
}