$icon-font-path ?= '/my-bootstrap-styl/fonts/';
$icon-font-path ?= '/my-bootstrap-styl/js/';
$icon-font-path ?= '/my-bootstrap-styl/bootstrap/';
$icon-font-path ?= '/bootstrap-styl/';
@import 'bootstrap';

#facilitator-controls {
	text-align: center;
}

#participant-controls {
	text-align: center;
	margin-bottom: 30px;
}

/* Reduce the 20px default margin on the Idea input divs */
.vf-idea-input .well {
	margin-bottom: 10px;
}

.user-ready {
	color: green;
	font-size: 40px;
	padding: 5px;
}

.user-not-ready {
	color: red;
	font-size: 40px;
	padding: 5px;
}

.check-user-ready {
	color: green;
}
