$icon-font-path ?= '/bootstrap-styl/fonts/';
$icon-font-path ?= '/bootstrap-styl/js/';
$icon-font-path ?= '/bootstrap-styl/bootstrap/';
$icon-font-path ?= '/bootstrap-styl/';
@import 'bootstrap';


.headingText
{
	text-align: center;
}

.decidedIdea
{
	text-align: center;
}

.polling-topic
{
	background-color: #2B3E50;
	padding-bottom: 3px;
	margin: 0px 4% 1%;
}

.new-idea
{
	text-align: right;
	padding-right: 10%;
	color: white;
}

.question-posed
{
	text-align: center;
}

.ideaResult
{
	height: 20px;
}

.cancel
{
	margin-right: 2%;
}

.endPolling
{
	margin-top: 25px;
}

.proceed
{
	margin-top: 25px;
}

.vote
{
	margin-top: 25px;
}

.addIdea
{
	float: right;
}

.buttonContainer
{
	width: 100%;
}

.ideaColor
{
	width: 10px;
}

.innerIdea
{
	margin-left: 12px;
}

.selectButtons
{
	margin-top: -3%;
}