.vf-icon-custom {
	font-size: 48px;
    color: #888;
}

.vf-icon-custom.toggled {
    color: #df691a;
}


.vf-glyphicon-large {
    font-size: 40px;
    color: #888;
}

.vf-glyphicon-align {
    // display: block;
    margin-left: -5px;
}

.vf-glyphicon-large.toggled {
    //color: red;
	color: #df691a;
}

.vf-post-em-item {
	// margin: 20px;
	padding: 10px;
	padding-left:70px;
	// background-color: yellow;
	background-color: #4e5d6c;
	min-height: 70px;
	margin-bottom: 20px;
}

.vf-post-em-vote {
	// width: 50px;
	// height: 50px;
	float: left;
	margin-left: -60px;
	// background-color:blue;
	// background-color: #df691a;
	// color: white;
	// text-align: center;
	// line-height: 2.5;
	// font-size: 20px;
}

.vf-post-em-vote-count {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: -60px;
	// background-color:blue;
	//background-color: #df691a;
	background-color: #5bc0de;
	color: white;
	text-align: center;
	line-height: 2.5;
	font-size: 20px;
}

.vf-post-em-comments-list {
	list-style-type: none;
}

.vf-post-em-contents {
	border-bottom: 1px solid #999;
	padding-bottom: 20px;
}

.vf-post-em-comment {
	margin-top: 8px;
}

.vf-post-em-margin-bottom {
	// margin-bottom: 40px;
	margin-bottom: 60px;
}