$icon-font-path ?= '/my-bootstrap-styl/fonts/';
@import 'bootstrap';

.content-panel {
	padding: 30px;
}

.input-div {
	padding: 10px;
}

#start_activity {
    margin-top:10px;
}

.testBox{
	justify-content: center;
}